blinker==1.8.2
cachelib==0.13.0
click==8.1.7
cs50==9.3.4
DateTime==5.5
Flask==3.0.3
Flask-Session==0.8.0
greenlet==3.0.3
importlib_metadata==8.2.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
msgspec==0.18.6
packaging==24.1
psycopg2-binary==2.9.9
pytz==2024.1
SQLAlchemy==2.0.31
sqlparse==0.5.1
termcolor==2.4.0
typing_extensions==4.12.2
Werkzeug==3.0.3
zipp==3.19.2
zope.interface==6.4.post2