{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <div class="m-auto">
        <div class="alert alert-dark d-flex align-items-center mb-4 fs-5" role="alert">
            <i class="bi bi-person-fill me-3"></i>
            <div>
                Logged in as <span class="text-warning">{{ username }}</span>.
            </div>
        </div>
        <form action="/change_password" method="post">
            <div class="mb-3">
                <input required autofocus class="form-control form-control-lg mx-auto" name="current_password" placeholder="Current password" type="password">
            </div>
            <div class="mb-3">
                <input required class="form-control form-control-lg mx-auto" name="new_password" placeholder="New password" type="password">
            </div>
            <div class="mb-3">
                <input required class="form-control form-control-lg mx-auto" name="confirm_new_password" placeholder="Confirm new password" type="password">
            </div>
            <div class="d-flex flex-column">
                <button class="btn btn-outline-warning btn-lg">Change password</button>
            </div>
        </form>
    </div>
{% endblock %}
