{% extends "layout.html" %}

{% block title %}
    Register Author
{% endblock %}

{% block main %}
    <div class="m-auto">
        <form action="/register_author" method="post">
            <div class="mb-3">
                <input autofocus required autocomplete="off" class="form-control form-control-lg mx-auto" name="name" placeholder="Author name" type="text">
            </div>
            <div class="mb-3">
                <input required autocomplete="off" class="form-control form-control-lg mx-auto" name="birth" placeholder="Author's birth year" type="number">
            </div>
            <div class="d-flex flex-column">
                <button class="btn btn-outline-warning btn-lg">Register author</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block footer %}
    <div class="pb-5 text-secondary">
        Register a new <a href="/register_book" class="text-secondary-emphasis">book</a> to our database
    </div>
{% endblock %}
